@using AicaDocsUI.Repositories.Auth
@using AicaDocsUI.Repositories.ApiData.Dto.IdentityCommons

@inject IAuthRepository AuthRepository

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="AicaDocs UI"/>
    <meta name="author" content="LilyRosa🐱 | EduardoProfe666🎩"/>

    <meta property="og:title" content="AicaDocs UI">
    <meta property="og:description" content="Aplicación Web AicaDocs UI">
    <meta property="og:image" content="https://aicadocsui.onrender.com/Images/test.png">
    <meta property="og:url" content="https://aicadocsui.onrender.com"/>

    <link rel="icon" href="/favicon.png"/>
    <title>@ViewData["Title"] - AicaDocs UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AicaDocsUI.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand text-secondary" asp-area="" asp-page="/Index">
                <strong>AicaDocs UI</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Inicio</a>
                    </li>
                    @if (await AuthRepository.IsLoginAdvanceAsync())
                    {
                        @if (await AuthRepository.GetUserRoleAsync() == UserRole.Admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Users/Index">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Reports/Documents/Index">Documentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Reports/Downloads/Index">Descargas</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Más
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Reports/Scope/Index">Alcances de documento</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Reports/Process/Index">Procesos de documento</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Reports/Type/Index">Tipos de documento</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Reports/Reason/Index">Razones de descarga</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Documents/Index">Documentos</a>
                            </li>   
                        }
                    }
                    
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - AicaDocs UI - <a class="link-secondary" target="_blank" href="https://github.com/LilyRosa">LilyRosa😸</a> &AMP; <a target="_blank" class="link-secondary" href="https://github.com/EduardoProfe">EduardoProfe🎩</a>
    </div>
</footer>

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>