@page
@model AicaDocsUI.Pages.Process.Edit

@{
    ViewData["Title"] = "Editar Proceso de documento";
}


<div class="row">
    <div class="col-md-8 mx-auto rounded p-3">
        <h1 class="text-center mb-5">Editar Proceso de documento</h1>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre del Proceso</label>
                <div class="col-sm-8">
                    <input asp-for="NomenclatorDto.Name" class="form-control" placeholder="Ingrese el nombre"/>
                    <span asp-validation-for="NomenclatorDto.Name" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">
                <div class="offset-md-4 col-sm-4 mb-2 d-grid">
                    <a class="btn btn-outline-primary" href="/Process/Index" role="button">Atrás </a>
                </div>
                <div class="col-sm-4 mb-2 d-grid">
                    <button type="submit" class="btn btn-primary">
                        Aceptar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
