@page
@model AicaDocsUI.Pages.Account.ResetPassword

@{
    ViewData["Title"] = "Reinicio de Contraseña";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-4 mx-auto rounded border p-3">
            <section>
                <h2 class="text-center mb-3">Reinicio de Contraseña</h2>

                <form method="post">
                    <h5 class="text-center mb-3">@Model.WrapperInfo.FullName</h5>
                    <hr/>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nueva Contraseña</label>
                        <input type="password" asp-for="ResetPasswordRequestModel.NewPassword" class="form-control" placeholder="Ingrese su nueva contraseña"/>
                        <span asp-validation-for="ResetPasswordRequestModel.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Repetir Contraseña</label>
                        <input type="password" asp-for="ResetPasswordRequestModel.RepeatNewPassword" class="form-control" placeholder="Repita su nueva contraseña"/>
                        <span asp-validation-for="ResetPasswordRequestModel.RepeatNewPassword" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-grid">
                            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
                        </div>
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}