@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error ☹</h1>
<h3 class="text-danger">Un error ha ocurrido mientras se procesaba su petición... Inténtelo de nuevo más tarde</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}