@page
@model ErrorModel
@{
    var statusCode = Model.Code;

    ViewData["Title"] = statusCode switch
    {
        404 => "Página no encontrada",
        403 => "Acceso Denegado",
        _ => "Error"
    };
}

<h1 class="text-danger">
    @(statusCode switch
    {
        404 => "Página no encontrada",
        403 => "Acceso Denegado",
        _ => "Error Desconocido"
    })
</h1>
<h3 class="text-danger">
    @(statusCode switch
    {
        404 => "Lo sentimos, la página que estás buscando no existe.",
        403 => "Lo sentimos, no tienes permiso para acceder a la página solicitada.",
        _ => "Lo sentimos, ha ocurrido un error desconocido."
    })
</h3>

