@page
@model ErrorModel
@{
    var statusCode = Model.Code;

    ViewData["Title"] = statusCode switch
    {
        404 => "Página no encontrada",
        403 => "Acceso Denegado",
        400 => "Solicitud Errónea",
        _ => "Error"
    };
}

<div class="d-flex align-items-center justify-content-center vh-100 mt-5">
    <div class="text-center">
        <h1 class="display-4 text-danger fw-bold">@ViewData["Title"]</h1>
        <p class="lead text-danger fw-bold">
            @(statusCode switch
            {
                404 => "Lo sentimos, la página solicitada no existe.",
                403 => "Lo sentimos, no tiene permiso para acceder a la página solicitada.",
                400 => "Lo sentimos, la solicitud que proporcionó no es correcta.",
                _ => "Lo sentimos, ha ocurrido un error durante el manejo de su solicitud. Vuelva a intentarlo más tarde"
            })
        </p>
        <p>
            <strong>Código de estado:</strong> @statusCode
        </p>
        <a asp-page="/Index" class="btn btn-secondary">Ir a la página de inicio</a>
    </div>
</div>