@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-4">
                        AicaDocs UI&nbsp;
                        <p></p>
                        <p></p>
                    </h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">
                        Prueba visual para ilustrar como consumir la <em>API de AicaDocs</em> en <strong>Razor Pages</strong> en el entorno de Aica+
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                <a target="_blank" class="btn btn-primary px-4 me-md-2" href="https://aicadocs.onrender.com" role="button">Ir a la API</a>
                <a target="_blank" class="btn btn-outline-primary px-4 me-md-2" href="https://github.com/EduardoProfe666/AicaDocsApi" role="button">Repo de la API</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block">
                <img class="rounded-3 w-100 " src="/Images/1.jpg" alt="Photo by Diego PH" width="700">
            </div>
        </div>
    </div>
</div>
